
/**********公共样式************/
*{margin:0;padding:0;}
a{text-decoration:none;color:#000;}
a img{ border:none;}
li{ list-style:none;}
input,textarea{ outline:0; resize:none; border:none; _border:0; margin:0; padding:0;}
input{ margin:0; padding:0; border:none;}
table,table td{border-collapse:collapse;}
section,article,aside {display: blcok;}
.cl{clear:both;}
body { font-size: 14px; color: #757373; font-family:"微软雅黑","宋体"; position:relative; min-width:1200px;}


/***********页面开始**************/
header{width:1200px;margin:0 auto;display: table;}
  .logo{float:left;height:50px;font-size:38px;margin-top:40px;font-weight:bold;font-family:"微软雅黑";color:#000;}
 		.logo2{color:#ccc;}
 	.headerNav{float:right;}
	.headerNav ul li{float:left;width:100px;height:80px;line-height:80px;text-align:center;margin-top:20px;margin-left:4px;}
				.headerN{background:rgb(34, 34, 34);}
				.headerN a{color:#fff;}
	.headerNav ul li:hover{background:rgb(34, 34, 34);}
	.headerNav ul li:hover a{color:#fff;}

/*************正文部分*********************/

.main1{width:100%;margin:0 auto;position:relative;display: table;}

	.s1{width:1200px;margin:0 auto;}
		.s1 ul li{float:left;margin-left:5px;position:relative;}
		.s1A{padding:20px;}
		.s1Anew{font-size:40px;color:#000;font-weight:800;}
		.s1Axing{color:#000;}
		.s1B{position:absolute;top:180px;left:30px;color:#CECECE;opacity:.8;}
		.s1Bnew{font-size:40px;color:#CECECE;font-weight:800;}
		.s1Bxing{color:#CECECE;}
	
	.s2{width:1200px;margin:20px auto;text-align: center;}
	.s2 h1{color:#000;}
		.s2nav{margin-bottom:30px;margin-top:30px;}
		.s2nav li{float:left;width:120px;border-radius:20px;background:#ededed;line-height:30px;margin-left:20px;cursor:pointer;}
		.s2nav li:hover{background:#f00;color:#fff;}
		.s2nav li:hover a{color:#fff;}
		
		.s2List1 ul li{width:390px;float:left;margin-left:10px;margin-top:30px;}
		.s2List1title{padding-bottom:20px;border-bottom:1px dashed #ccc;}
		.s2List1many{margin-top:20px;}
		.s2List1now{color:#f00;font-size:20px;margin-right:10px;}
		.s2List1befolur{margin-left:10px;}
		.s2List1img{width:390px;overflow: hidden;height: 220px;}
		.s2List1 ul li:hover img{-webkit-transform:scale(1.1,1.1);}
		
		.s2List2{display:none;}
		.s2List2 ul li{width:390px;float:left;margin-left:10px;margin-top:30px;}
		.s2List2title{padding-bottom:20px;border-bottom:1px dashed #ccc;}
		.s2List2many{margin-top:20px;}
		.s2List2now{color:#f00;font-size:20px;margin-right:10px;}
		.s2List2befolur{margin-left:10px;}
		.s2List2img{width:390px;overflow: hidden;}
		.s2List2 ul li:hover img{-webkit-transform:scale(1.1,1.1);}
		
		.s2List3{display:none;}
		.s2List3 ul li{width:390px;float:left;margin-left:10px;margin-top:30px;}
		.s2List3title{padding-bottom:20px;border-bottom:1px dashed #ccc;}
		.s2List3many{margin-top:20px;}
		.s2List3now{color:#f00;font-size:20px;margin-right:10px;}
		.s2List3befolur{margin-left:10px;}
		.s2List3img{width:390px;overflow: hidden;}
		.s2List3 ul li:hover img{-webkit-transform:scale(1.1,1.1);}

.s3{width:100%;height:300px;background:url(../images/bg1.jpg) no-repeat;margin-top:60px;text-align:center;margin-bottom:60px;}
.s3main{margin:0 auto;width:1200px;height:300px;color:#fff;}
.s3main h1{font-size:40px;padding-top:60px;}
	.s2mainxian{width:40px;height:5px;background:#f00;display:block;margin:10px auto;}

.s4{width:1200px;margin:30px auto;text-align:center;}
	.s4 ul li{width:390px;text-align: center;float:left;margin-left:10px;}
	.s4 ul li p{line-height:30px; }


.s5{width:1200px;margin:30px auto;text-align:center;}
.s5main ul li{width:200px;float:left;margin-left:30px;}









/***************底部部分***************/
.footer{background:rgb(34, 34, 34);width:100%;min-height:300px;text-align:center;padding-top: 10px;}

	.footerA{width:500px;margin-top:50px;}
	.footerb{width:350px;float:left;text-align:left;margin-left:300px;}
	.footerb h3{color:#fff;}
	.footerc{width:350px;float:left;text-align:left;margin-left:100px;}
	.footerc h3{color:#fff;}
	.footerc a:hover{color:#abcfdd;text-decoration:underline;}

	.footer h2{margin-top:10px;border-bottom:1px solid grey;padding-bottom: 50px;margin-bottom:40px;font-size:20px;}
	.footer h2 a{margin-left:10px;color:grey;font-size:16px;font-weight:100;}
	.footer p a{margin-left:10px;color:grey;font-weight:100;}



















