@charset "utf-8";
/*设定默认样式*/
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
ul,
ol {
  list-style: none;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #666;
  padding-left: 5px;
  padding-right: 5px;
}
a:hover {
  text-decoration: none;
  color: #FF5400;
}
a:link {
  text-decoration: none;
  color: #FF5400;
}
a:active {
  text-decoration: none;
  color: #FF5400;
}
a:visited {
  text-decoration: none;
}
img {
  border: 0;
}
section,
article,
aside {
  display: blcok;
}
.cl {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
