@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url(http://fontstatic.useso.com/s/raleway/v11/8KhZd3VQBtXTAznvKjw-k8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(http://fontstatic.useso.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T88DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(http://fontstatic.useso.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(http://fontstatic.useso.com/s/raleway/v11/1ImRNPx4870-D9a1EBUdPMDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
