<!DOCTYPE html>
<html>
<head>
	<title>客户留言</title>
	<style type="text/css">td{text-align:center;width:10%;}
	.page li{display:inline-block;min-width:50px;height: 30px;background:#868686;line-height:30px;margin-left:5px;}
	.page li a{color:#000;font-size:20px;}
	.page .active a{color:#f00;}

	</style>
</head>
<body>
<table border="1">
<tr>
<th>留言者姓名</th>
<th>电话</th>
<th>邮箱</th>
<th>Q  Q</th>
<th>留言时间</th>
<th>内容</th>
<th>操作</th>
</tr>
<foreach name="messages" item="message">
<tr>
<td >{$message['username']}</td>
<td >{$message['tel']}</td>
<td >{$message['email']}</td>
<td >{$message['qq']}</td>
<td >{$message['addtime']|date='Y-m-d H:i:s',###}</td>
<td style="width:40%;text-align:left;word-break:break-all;">{$message['text']}</td>
<td ><a href="{:U('Index/message_delete',array('id'=>$message['id']))}">删除</a></td>
</tr>
</foreach>

</table>

<div class="page" style="width:100%;text-align:center;">{$show}<li>共{$count}条数据</li></div>

</body>
</html>