.defined1{width: 100%;overflow: hidden;clear: both;text-align: center;margin: 60px auto !important;}
.defined1 img{max-width: 100%;}
.defined1 h2{font-weight: 500px;color: #000;font-size: 26px;}
.defined1 span{color: #666;width: 600px;margin: 0 auto;display: block;}

.defined2{overflow: hidden;clear: both;margin: 10px auto 20px;}
.defined2 ul{overflow: hidden;margin-right: -25px;}
.defined2 ul li{float: left;width: 220px;margin-right: 25px;}
.defined2 ul li a{display: block;}
.defined2 ul li a img{max-width: 100%;}
.defined2 ul .center_txt{width: 100%;color: rgb(19, 19, 19);text-align: center;}
.defined2 ul .center_txt span{display: block;width: 100%;height: 10px;background: rgb(19, 19, 19);}
.defined2 ul .center_txt span:nth-child(1){margin-bottom: 40px;}
.defined2 ul .center_txt strong{font-size: 32px;line-height: 50px;font-weight: 600;}
.defined2 ul .center_txt a{width: 165px;height: 40px;background: rgb(19, 19, 19);color: #fff;font-size: 20px;
line-height: 40px;margin: 40px auto;}

.defined3{width: 100%;}
.defined3 h1{text-align: center;color: rgb(19, 19, 19);}
.defined3 h1 strong{font-size: 42px;line-height: 30px;}
.defined3 b{display: block;width: 100%;height: 10px;background: #000000;}
.defined3 .product{width: 100%;background: url(../images/index_aboutBG.jpg) no-repeat center center;text-align: center;
color: rgb(19, 19, 19);height: 510px;}
.defined3 .product .mg{position: relative;height: 510px;}
.defined3 .product span{display: block;width: 385px;height: 421px;border: 8px solid #fff;position: absolute;
left: 40px;top: 30px;background: rgb(96, 96, 96);}
.defined3 .product span img{max-width: 100%;}
.defined3 .product span:nth-child(1){-webkit-transform: rotate(6deg);z-index: 100;}
.defined3 .product span:nth-child(2){z-index: 200;}
.defined3 .product p{font-size: 24px;text-align: left;position: absolute;right: 60px;top: 30px;}
.defined3 .product a{display: block;width: 150px;height: 50px;background: rgba(19,19,19,1);line-height: 50px;
color: #fff;font-size: 24px;position: absolute;left: 354px;top: 360px;z-index: 400;border-radius: 3px;
-webkit-transition: all .2s;transition: all .2s}
.defined3 .product a:hover{background: rgb(195,7,77);}
.defined3 .product strong{font-size: 52px;position: absolute;left: 30px;bottom: -86px;}
.defined3 .product .tel{width: 450px;height: 100px;line-height: 45px;background: #000000;color: #fff;
text-align: left;font-size: 30px;position: absolute;right: 10px;bottom: -60px;padding-left: 50px;}
.defined3 .product .tel h2{font-size: 54px;}


.defined4{background: url(../images/defined02.jpg) no-repeat center center;background-size:100% 100%;
width: 100%;overflow: hidden;clear: both;text-align: center;margin-top: 100px;}
.defined4 strong{font-family: "copperplate gothic bold";font-size: 50px;}
.defined4 span{display: block;width: 240px;height: 40px;line-height: 40px;color: #fff;
border: 1px solid #fff;margin: 22px auto 0;}






