/*******产品列表**********/
.goodList{width:1200px;margin:30px auto;}

.goodT{width:100%;height:40px;background:#F5F5F5;border:1px solid #ccc;}
.goodT ul li{float:left;background:#fff;padding:10px 20px;cursor:pointer;border-right: 1px solid #ccc;}
.goodT ul li:hover{background:#abcdef;}

.goodMain{width:100%;}
.goodMain ul{margin-top: 30px;}
.goodMain ul li{float:left;width:234px;height:370px;border:1px solid #ccc;position:relative;overflow:hidden;margin-left:3.5px;margin-top: 8px;}
/*.goodMain ul li img{height:250px;width:100%;}*/
.goodMain ul li:hover{border:1px solid #02b4b4;}
.goodMain ul li p{color:#f00;font-size:15px;position:relative;margin-bottom: 5px;}
.goodMain ul li p .baoyou{display:inline-block;width:40px;height:30px;background:url(../image/baoyou.png)0px -132px  no-repeat;position:absolute;top:-5px;}
.goodMain ul li p .fukuan{float:right;color:#888888;}
.goodMain ul li p a{font-size:14px;}
.goodMain ul li p:hover a{color:#f00;text-decoration: underline;}
.wrapper img{float:none;}

.goodMu{padding:10px;}
.goodName{height:22px;width:92%;position:absolute;bottom:35px;}
.sanxian{display:inline-block;float:left;width:15px;height:30px;}
.henxian{height:3px;width:100%;background:#f00;display:block;margin: 3px  auto;padding:0;}
.companyName{display:inline-block;margin-left: 5px;width:120px;overflow:hidden;}
.companyName a{text-decoration:underline;color:#555;}
.companyName a:hover{color:#f00;}
.city{float:right;display:inline-block;}

.goodico{height:20px;width:100%;margin:8px  0px;padding:0;position:absolute;bottom:5px;}
.goodico ol{margin:0 auto;padding:0;}
.goodico ol li{width:80px;float:left;height:30px;border:none;padding:0;text-align: left;margin-top: 5px;}
.goodico ol li:hover{border:none;}
.goodico ol li .tianmao{display:block;width:20px;height:20px;background:url(../image/baoyou.png)-213px -199px no-repeat;}
.goodico ol li .yunxian{display:block;width:20px;height:20px;background:url(../image/baoyou.png)-295px -161px no-repeat;}

/**立即抢购**/
.qianggou {background: url(../image/lijiqiangg.png) no-repeat -16px;background-size: 105px;position: absolute;width: 95px; height: 110px;z-index: 99;top: -4px; left: -1px;text-align: center;}
.qianggou2 {-webkit-transform: rotate(-45deg);display: inline-block; top: 20px; position: relative;top: 25px;left: -19px;font-size: 14px; color: #fff;}

/********活动日期*******/
.huodong{width:50px;height:30px;position:absolute;top:0;right:0;text-align: right;background:#f0f;font-size:18px;padding-right: 5px;color:#fff;}


/********汪汪聊天***/
.kefu{position:absolute;bottom:5px;right:20px;width:80px;height:20px;z-index: 99;}
.wangwang{display:block;width:20px;height:20px;}

/***********产品列表分页**********/
.dataTables_paginate{width:1200px;margin:0 auto;height:100px;margin-top:20px;}
.dataTables_paginate .pagination{float:left;}
.dataTables_paginate ul{margin-left: 200px;}
.dataTables_paginate ul li{border:1px solid #ccc;float:left;cursor:pointer;overflow:hidden;height:50px;}
.dataTables_paginate ul #example1_previous{border:1px solid #ccc;float:left;cursor:pointer;overflow:hidden;height:50px;}
.dataTables_paginate ul li a{display:block;width:100%;padding:20px;}
.dataTables_paginate ul li .prev{display:block;width:100%;padding:20px;}
.dataTables_paginate ul li:hover{border:1px solid #f00;}
.goodsP{background:#f00;color:#fff;}
.dataTables_paginate .active{background:#f00;}
